<!-- render img from scss class if not exist data in the screnn -->
<section ngClass="{'loading': !taskList.length}">
  <ul *ngIf="taskList.length">

    <!-- render only if there is data on the screen -->
    <li *ngFor="let item of taskList; let i = index">
      <input type="checkbox" [(ngModel)]="item.checked">
      <input type="text" [(ngModel)]="item.task" [ngClass]="{'checked': item.checked}">

      <button (click)="deleteItemTaskList(i)">
        <img src="../../../../../assets/icons/trash-svgrepo-com (1).svg" alt="">
      </button>
      <!-- {{item | json}} -->
    </li>

  </ul>
</section>
<app-to-do-add-itens (emmitItemTaskList)="setEmitTaskList($event)"></app-to-do-add-itens>

<!-- render only if there is data on the screen -->
<app-to-do-button-delete-all *ngIf="taskList.length" (click)="deleteAllTaskList()"></app-to-do-button-delete-all>

